services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    ports:
      - 13378:80
    volumes:
      - /mainDrive/media/audiobooks:/audiobooks
      - /mainDrive/media/podcasts:/podcasts
      - /var/lib/docker-volumes/audiobookshelf/metadata:/metadata
      - /var/lib/docker-volumes/audiobookshelf/config:/config
    environment:
      - PUID=1000 
      - PGID=1000 
      - REFRESH_TOKEN_EXPIRY=15552000 # 6 months
      - ACCESS_TOKEN_EXPIRY= 86400 # 1 day
    restart: unless-stopped