services:
  backend:
    image: neohuncho/pomi-backend:latest
    ports:
      - '3001:3001'
    depends_on:
      - db
      - redis
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/pomodoro
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=production
      - FIREBASE_SERVICE_ACCOUNT_JSON=${FIREBASE_SERVICE_ACCOUNT_JSON}
    restart: always

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pomodoro
    volumes:
      - /var/lib/docker-volumes/pomi-db:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'
