services:
  affine:
    image: ghcr.io/toeverything/affine:stable
    container_name: affine_selfhosted
    ports:
      - '3010:3010'
      - '5555:5555'
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    volumes:
      # custom configurations
      - /var/lib/docker-volumes/affine/customConfig:/root/.affine/config
      # blob storage
      - /var/lib/docker-volumes/affine/blobStorage:/root/.affine/storage
    logging:
      driver: 'json-file'
      options:
        max-size: '1000m'
    restart: always
    environment:
      - AFFINE_CONFIG_PATH=/root/.affine/config
      - REDIS_SERVER_HOST=redis
      - DATABASE_URL=postgres://affine:${POSTGRES_PASSWORD}@postgres:5432/affine
      - NODE_ENV=production
      - AFFINE_ADMIN_EMAIL=${AFFINE_ADMIN_EMAIL}
      - AFFINE_ADMIN_PASSWORD=${AFFINE_ADMIN_PASSWORD}
      - AFFINE_SERVER_HOST=${AFFINE_SERVER_HOST}
      - MAILER_HOST=smtp.gmail.com
      - MAILER_PASSWORD=${MAILER_PASSWORD}
      - MAILER_PORT=465
      - MAILER_SECURE=true
      - MAILER_SENDER=${MAILER_SENDER}
      - MAILER_USER=${MAILER_SENDER}
  redis:
    image: redis
    container_name: affine_redis
    restart: always
    volumes:
      - /var/lib/docker-volumes/affine/redis:/data
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
  postgres:
    image: postgres:latest
    ports:
      - '5332:5432'
    container_name: affine_postgres
    restart: always
    volumes:
      - /var/lib/docker-volumes/affine/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U affine']
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: affine
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: affine
      PGDATA: /var/lib/postgresql/data/pgdata