version: '3.3'
services:
  transmission-openvpn:
    cap_add:
      - NET_ADMIN
    volumes:
      - /mainDrive/torrents:/data
      - /plexDrive:/media
      - /var/lib/docker-volumes/transmission:/config
    environment:
      - OPENVPN_PROVIDER=PIA
      - OPENVPN_CONFIG=france
      - OPENVPN_USERNAME=p3685704
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - LOCAL_NETWORK=${LOCAL_NETWORK}
      - PUID=1000
      - PGID=1000
    logging:
      driver: json-file
      options:
        max-size: 10m
    ports:
      - '9092:9091'
    image: haugene/transmission-openvpn
    restart: unless-stopped
